@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@font-face {
  font-family: 'Godo';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2')
      format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff')
      format('woff');
}
@font-face {
  font-family: 'EarlyFontDiary';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MYYeongnamnu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/MYYeongnamnu.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChosunCentennial';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Global Styles */
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Godo', 'Nanum Gothic', 'Crimson Text', serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none !important;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */
/* input {
  margin: 1.2rem 0;
} */

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

/* input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
} */

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  font-family: 'Nanum Gothic', 'Montserrat', sans-serif;
  display: flex;
  justify-content: normal !important;
  align-items: center;
  z-index: 1;
  width: 100%;
  /* opacity: 0.9; */
  /* background-color: #dc3545; */
  max-height: 80px;
}

.navbar ul {
  display: flex;
  margin-top: 1.2rem;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: var(--light-color);
  /* font-weight: bolder; */
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

.mainLogo {
  max-height: 45px;
  height: auto;
  display: flex;
  margin-top: 18px;
  width: 220px;
}

.navList {
  margin-right: 20px;
  margin-top: 1rem;
}

.navList ul li {
  margin-bottom: 10px;
}

.navItemsMenu {
  overflow: hidden;
  position: inherit;
  background-color: #000000;
  color: #ccc;
  text-align: center;
  margin-top: 1.8rem;
  border-radius: 2px;
  opacity: 0.8;
  -webkit-transition: max-height 0.2s ease-in-out 0.2s;
  -moz-transition: max-height 0.2s ease-in-out 0.2s;
  -o-transition: max-height 0.2s ease-in-out 0.2s;
  -ms-transition: max-height 0.2s ease-in-out 0.2s;
  transition: max-height 0.2s ease-in-out 0.2s;
  max-height: 0;
}

.navItemsMenu div {
  padding: 0.4rem 0;
  font-size: 12px;
}

.navItems:hover .navItemsMenu {
  max-height: 30em;
}

.navTitle {
  color: rgb(37, 37, 37);
  padding: 0 1vw;
  font-size: 13px;
}

.navName {
  display: inline-block;
  position: relative;
}

.navName:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #003465;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navName:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navItemsMenu a:hover {
  color: #ffcb05;
}

.navbar {
  width: 1100px;
  margin: 0 auto;
  margin-right: 0px;
}

.footer-copyright {
  background-color: rgb(33, 33, 33);
  color: #828282;
  font-size: 11px;
}
.contact-info {
  background-color: #2d2d2d;
  color: #797979;
  font-size: 15px;
  text-align: left;
  padding: 40px 150px;
}

.dropdownList {
  border-bottom: 1px solid rgb(49, 49, 49);
}

.dropdownBetween {
  margin-top: 1px;
  margin-bottom: 1px;
}

.dropdownLast {
  border-bottom: 0px solid !important;
}

.navLogo ul {
  padding: 0rem;
}

.logo {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.menuIcon {
  display: none;
}

.navGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.nav-g1 {
  display: table;
  grid-column: 1;
  grid-row: 1;
  width: max-content;
  margin-left: 9rem;
}

.nav-g2 {
  grid-column: 2;
  grid-row: 1;
  width: 850px;
}

.boxGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.box-g1 {
  grid-column: 1;
  grid-row: 1;
}

.box-g2 {
  grid-column: 2;
  grid-row: 1;
}
.box-g3 {
  grid-column: 3;
  grid-row: 1;
}

.pageGrid {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.page-g1 {
  grid-column: 1;
  grid-row: 1;
  padding: 0rem 1rem;
  height: -webkit-fill-available;
}

.page-g2 {
  grid-column: 2;
  grid-row: 1;
  padding: 1rem 1rem;
}

.navTitle:hover {
  color: #003465;
  cursor: pointer;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

.menuMobile {
  display: none;
}

.headerBanner {
  height: 300px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.headerSection {
  background-color: #f2f2f2;
  height: 70px;
}

.headerPic {
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}

.dimPic {
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.subHeader {
  font-size: 15px;
}

.pageTitle {
  text-align: left;
  margin-bottom: 2rem !important;
  font-size: 30px;
  color: #333;
  font-weight: bolder;
}

.subTitleNav {
  background: linear-gradient(
    to top,
    rgba(178, 13, 13, 0.2) 40%,
    transparent 50%
  );
}

.navSide:hover {
  color: #fff;
  background-color: #d84b4b;
  font-weight: bold;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.current {
  background-color: #b20d0d !important;
  color: #fff !important;
  font-weight: bold;
}

.middleBanner {
  background-color: #1b213c;
}

.navItems {
  z-index: 10;
  margin-top: 5px;
}

.navSide {
  border-bottom: 0;
  color: #000000;
  padding: 8px 0 8px 20px;
  text-align: left;
  background-color: #e6e6e6;
  font-size: 14px;
}

.sideTitle {
  text-align: left;
  font-size: 22px;
  color: #333;
  padding: 20px 20px 10px;
  letter-spacing: -1px;
  border-bottom: 3px solid #6d0a0a;
  font-weight: bolder;
  margin-top: 1.5rem;
}

.homeImg {
  color: #fff;
}

.historyGrid,
.currGuideGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.history-g1,
.currGuide-g1 {
  grid-column: 1;
  grid-row: 1;
}

.history-g2,
.currGuide-g2 {
  grid-column: 2;
  grid-row: 1;
}

.history {
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: 1px solid rgba(40, 40, 40, 0.562);
}

.historyDesc {
  width: 44vw;
  margin-top: 2px;
}

.historyYear {
  width: 6vw;
  font-size: 21px;
  font-family: 'EarlyFontDiary';
  color: rgb(32, 31, 31);
}

.historyMonth {
  width: 6vw;
  font-size: 15px;
  font-family: 'EarlyFontDiary';
  margin-top: 2px;
}

.mobile_446,
.mobile_489,
.mobile_426,
.mobile_427 {
  display: none;
}

.bannerText {
  font-family: 'OTWelcomeRA';
}

.introText {
  text-align: left;
  padding: 1rem 5rem;
}

.introText span,
.walkinIntro span {
  font-weight: bolder;
  color: #3a32c3;
}

.signature {
  text-align: right;
}

.sideHistory {
  height: 1702px;
}

.sideIntro {
  height: 573px;
}

.googleMap {
  margin-left: 2.5rem;
  height: 600px;
  width: 600px;
  margin-top: 2rem;
}

.address {
  text-align: left;
}

.addressTitle {
  font-size: 25px;
  font-weight: bold;
  margin-top: 2rem;
}

.addressDetail {
  margin-top: 1.5rem;
  margin-left: 3rem;
  font-size: 16px;
  line-height: 1.75;
}

.gmap_icon {
  -webkit-filter: brightness(100%);
}

.gmap_icon:hover {
  -webkit-filter: brightness(60%);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.successPin {
  width: 20px;
  height: 10px;
  -webkit-filter: brightness(100%);
}

.successPin:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.mallTitle {
  margin-left: -3rem;
  margin-top: -1.75rem;
}

.mapTitle {
  background: #fff;
  border-color: rgb(0, 0, 0);
  color: #333;
  display: inline-block;
  font-size: 12px;
  line-height: 2em;
  margin-bottom: 0em;
  padding: 3px 1em;
  position: relative;
  text-align: center;
  vertical-align: top;
  min-width: 11em;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mapTitle:after {
  border: 1em solid transparent;
  border-top-color: #fff;
  content: '';
  margin-left: -1em;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
}

.successTitle {
  margin-left: -57px;
  margin-top: -57px;
}

.gmap_icon {
  width: 60px;
  margin-top: 1.5rem;
  margin-left: 3rem;
}

.docMain {
  text-align: left;
}

.docSubHeading {
  font-size: 15px;
  color: #2d2d2d;
}

.docItems {
  margin-top: 1rem;
  line-height: 1.5;
}

.docListItem {
  margin-left: 1.5rem;
}

.pageHistory {
  max-width: 1500px;
}

.gmnoprint {
  display: none !important;
}

.docItems {
  line-height: 2;
}

.docParentHeading {
  margin-left: -1.5rem;
  margin-bottom: 1.5rem;
}

.docParent {
  margin-top: 1.5rem;
}

.docStrong {
  font-weight: 600;
  font-size: 18px;
}

.docCircle {
  font-size: 5px;
  vertical-align: middle;
}

.docExtra {
  margin-top: 0.75rem;
}

.permit {
  width: 150px;
  display: table-cell;
  align-items: center;
}

.permitPicture {
  display: table;
  width: 100%;
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.page-margin-left {
  margin-left: 1.5rem;
}

.aboutDocSchools {
  margin-top: 1rem;
}

.aboutDocIntro {
  padding: 1rem 2rem;
}

.permitDesc_1 {
  margin-top: 0.5em;
  margin-left: -5px;
}

.permitDesc_2 {
  margin-top: 0.5em;
  margin-left: -16px;
}

.currTable th,
.currTable td,
.currMenuWeek th,
.currMenuWeek td,
.currPriceTable th,
.currPriceTable td {
  text-align: center;
  vertical-align: middle;
}

.rowSpanText {
  vertical-align: middle;
}

.currTitle {
  margin: 1rem 0;
}

.tableRowSpan {
  vertical-align: middle;
}

.ganaan_pic {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.currPermitPicture {
  margin-left: 8rem;
  margin-top: 2rem;
}

.currGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.curr-g1 {
  grid-column: 1;
  grid-row: 1;
}

.curr-g2 {
  grid-column: 2;
  grid-row: 1;
}

.mobileCurrLocation {
  display: none;
}

.currMenuWeek ul {
  margin-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.currMenuPanel {
  text-align: left;
  border-bottom: solid #efefef 1px;
  width: 103%;
}

.ta .wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
  margin: 3rem 0;
  background: #1abc9c;
  height: 14.75rem;
}
.tabs::before,
.tabs::after {
  content: '';
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: #efefef;
  font-size: 16px;
  line-height: 2.75em;
  height: 3em;
  padding: 0 2.5em;
  background: #1abc9c;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  font-weight: 400;
}
.tab-label:hover {
  top: -2rem;
  transition: top 0.25s;
  background: #14856e;
}
.tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

.currPriceTable {
  margin: 2rem 2rem;
}

.currGuideExtra {
  margin: 2rem 0rem;
}

.currGuideBodyTitle {
  font-size: 20px;
}

.highlight {
  background: linear-gradient(to top, rgb(255, 255, 85) 50%, transparent 50%);
  display: inline;
  font-weight: 500;
}

.currGuideTitleSub {
  margin-bottom: 2rem;
  font-size: 16px;
}

.currGuidePriceSale {
  font-size: 16px;
  font-weight: 400;
  color: #3a32c3;
}

.currGuideSidePicture {
  width: 310px;
}

.currGuide-g1 {
  width: 34vw;
}

.currGuideSummary {
  line-height: 1.75;
}

.currGuideSidePicture {
  margin-left: 1rem;
}

.applyButton {
  background-color: #2d2d2d !important;
}

.programTitle {
  color: #ffc107;
  font-weight: bolder;
  font-family: 'IBMPlexSansKR-Regular';
  text-decoration: underline;
}

.programGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.program-g1 {
  grid-column: 1;
  grid-row: 1;
}

.program_g2 {
  grid-column: 2;
  grid-row: 1;
}

.currMenuWeek td {
  font-size: 14px;
}

.currMenuPic {
  display: none;
}

.imgShadow {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.abroadProgramText span,
.abroadT {
  font-weight: 600;
}

.classTitle {
  font-family: 'OTWelcomeRA';
  font-weight: 600;
  margin-bottom: 1rem;
}

.classSubtitle {
  text-decoration: underline;
  font-style: italic;

  font-size: 18px;
}

.policyTitle {
  font-weight: 600;
  margin-top: 1rem;
}

.schoolCarousel {
  margin: auto;
}

.schoolTitle {
  font-family: 'ChosunCentennial';
  font-weight: 600;
}

.sliderSize {
  width: 50%;
}

.schoolBtn {
  background-color: rgb(47, 47, 47) !important;
  border-color: rgb(47, 47, 47) !important;
  /* padding: 0.25rem 1.5rem !important; */
  margin-bottom: 0.5rem;
  border-radius: 0px !important;
  width: 180px;
}

.currentBtn {
  background-color: #5c636a !important;
  border-color: #5c636a !important;
}

/* Mobile Version */
@media (max-width: 1710px) {
  .navTitle {
    padding: 0 3vw;
  }
}

@media (max-width: 1200px) {
  .logo {
    margin-left: 4vw;
  }

  .nav-g1 {
    margin-left: 2rem;
  }

  .nav-g2 {
    width: auto;
    margin-right: 2rem;
  }

  .navTitle {
    padding: 0 2vw;
  }

  .navName {
    width: max-content;
  }

  .mainLogo {
    width: 200px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 900px !important;
  }
}

/* Mobile Styles */
@media (max-width: 900px) {
  .navLogo {
    margin-top: -4px;
  }
  .mainLogo {
    margin-top: 15px;
    width: 150px;
    margin-left: 1rem;
  }
  .hedaerText {
    margin-left: 4rem;
  }
  .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .nav-g2 {
    display: none !important;
  }

  .menuIcon {
    display: block;
    text-align: right;
    margin-right: 3rem;
  }

  .menuMobile {
    display: block;
  }

  .navTitle {
    padding: 0.75rem;
    text-align: center;
    border-bottom: 1px solid rgb(214, 214, 214);
    margin-top: 0px;
    font-weight: normal;
    font-size: 18px;
  }
  .contact-info {
    padding: 2rem 2rem;
    font-size: 13px;
  }
  .navItemsMenu {
    margin-top: 0rem;
    background-color: #e2e2e2;
    font-size: 11px;
  }

  .navItemsMenu div {
    font-size: 14px;
    padding: 0.6rem 7vw;
  }

  .navItemsMenu a {
    color: rgb(33, 33, 33);
  }

  .dropdownList {
    border-bottom: 1px solid rgb(201 201 201);
  }

  .dropdownBetween {
    margin-top: 2px;
    margin-bottom: 0px;
  }

  ul {
    padding-left: 0rem !important;
    margin-bottom: 0rem !important;
  }
  .fa-bars:hover {
    color: rgb(134 134 134);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .navItemsMenu a:hover {
    color: rgb(33, 33, 33);
  }

  .navTitle:hover {
    color: rgb(33, 33, 33);
    font-weight: bold;
  }

  .dropdownX {
    color: rgb(134 134 134);
  }

  .dropdownX:hover {
    color: rgb(101, 84, 84);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .nav-g1 {
    margin-left: 0rem;
    height: 3.5rem;
  }

  .menuMobile {
    position: fixed;
    -webkit-transition: max-height 0.4s ease-in-out 0.4s;
    -moz-transition: max-height 0.4s ease-in-out 0.4s;
    -o-transition: max-height 0.4s ease-in-out 0.4s;
    -ms-transition: max-height 0.4s ease-in-out 0.4s;
    transition: max-height 0.4s ease-in-out 0.4s;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    margin-top: -56px;
  }

  .fa_custom {
    font-size: 25px;
  }

  .innerMenu {
    width: 75vw;
    background-color: #f5f5f5;
    float: right;
    height: 100vh;
  }
  .xmarkNav {
    width: 20px;
    height: 56px;
    margin-right: 3rem;
  }

  .copyright {
    font-size: 8px;
    position: absolute;
    bottom: 0;
    margin-bottom: 0.75rem;
    margin-left: 14vw;
  }
  .xmark_align {
    text-align: right;
  }
  .banner {
    object-fit: cover;
    height: 250px;
  }

  .page-g1 {
    display: none;
  }
  .page-g2 {
    grid-column: auto;
    grid-row: 1;
    width: 100vw;
  }

  .historyYear {
    width: 9vw;
    font-size: 17px;
  }

  .historyMonth {
    width: 11.5vw;
    font-size: 13px;
  }

  .headerBanner {
    height: auto;
  }

  .historyDesc {
    width: 65vw;
    font-size: 13px;
  }

  .pageTitle {
    font-size: 25px;
    margin-bottom: 1rem !important;
  }

  .history {
    padding: 1rem 0rem;
  }

  .introText {
    padding: 1rem 2rem;
  }

  .googleMap {
    margin-left: 3vw;
    height: 40vh;
    width: 90vw;
    margin-top: 2rem;
  }
  .addressDetail,
  .gmap_icon {
    margin-left: 3vw;
  }

  .docParentHeading {
    margin-left: 0rem;
  }

  .docMain {
    padding: 1rem 2rem;
  }

  .permitPicture {
    margin-left: 5vw;
  }

  .currTable th,
  .currTable td {
    font-size: 10px;
  }

  .currTitle {
    font-size: 16px;
  }

  .ganaan_pic {
    width: 60vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .mobileCurrLocation {
    display: block;
  }

  .curr-g1 {
    display: none;
  }

  .curr-g2 {
    width: 70vw;
    margin: auto;
  }

  .currGrid {
    display: inherit;
  }

  .currGuideSidePicture {
    width: 250px;
  }

  .currMenuWeek th,
  .currMenuWeek td {
    font-size: 12px;
  }

  .programHeading {
    font-size: 16px !important;
  }

  .programDisc {
    font-size: 10px !important;
  }

  .sliderSize {
    width: 70%;
  }
}
/* 900px above */
@media (max-width: 811px) {
  .currMenu {
    display: none;
  }

  .currMenuPic {
    display: block;
  }
}

@media (max-width: 582px) {
  .currGuideSidePicture {
    display: none;
  }
  .currGuide-g1 {
    width: 90vw;
    padding: 1rem 1rem;
  }
}

@media (max-width: 529px) {
  .addressDetail {
    font-size: 3.5vw;
  }

  .currMenuWeek {
    font-size: 10px;
  }

  .permit {
    width: 110px;
  }

  .permitDesc {
    font-size: 14px;
  }
}

@media (max-width: 489px) {
  .mobile_489 {
    display: block;
  }
  .bannerText {
    font-size: 30px;
  }
  .subHeader {
    display: none;
  }
}

@media (max-width: 446px) {
  .mobile_446 {
    display: block;
  }
}

@media (max-width: 437px) {
  .mobile_426 {
    display: block;
  }
}

@media (max-width: 427px) {
  .mobile_427 {
    display: block;
  }
}

/* Big screen  */
@media only screen and (min-width: 1600px) {
  .sideHistory,
  .sideCurr {
    width: 288px;
  }
  .historyDesc {
    width: 700px;
  }
  .historyMonth {
    width: 95px;
  }
  .historyYear {
    width: 95px;
  }
  .currGuide-g1 {
    width: 570px;
  }
  .currGuideBody {
    width: 980px;
  }

  .headerPic {
    width: 100vw;
  }

  .navName {
    font-size: 16px;
  }

  .navTitle {
    padding: 0 2vw;
  }

  .nav-g2 {
    margin-right: 8rem;
  }

  .navItemsMenu div {
    font-size: 14px;
  }
  .navbar ul {
    margin-top: 0.9rem;
  }
}
